<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 16:10:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuit.Applaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@6a024a67]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1196765369</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 16:11:05</td>   <td>11872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuit.VerifyDefaultFlightType()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@6a024a67]">VerifyDefaultFlightType</td> 
  <td>main@1196765369</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 16:11:11</td>   <td>17245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuit.Applaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@6a024a67]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1196765369</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 16:11:35</td>   <td>41781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuit.VerifyDepartingValueSelection()[pri:1, instance:com.mercury.test.FlightFinderRegressionSuit@6a024a67]">VerifyDepartingValueSelection</td> 
  <td>main@1196765369</td>   <td></td> </tr>
</table>
