<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tour Regression Suits</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 16:23:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuit.Applaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuit@7921b0a2]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 16:23:20</td>   <td>17638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuit.Verifyvalidlogin()[pri:0, instance:com.mercury.test.LoginRegressionSuit@7921b0a2]">Verifyvalidlogin</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 16:23:26</td>   <td>23090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuit.apClose()[pri:0, instance:com.mercury.test.LoginRegressionSuit@7921b0a2]">&lt;&lt;apClose</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/02 16:23:26</td>   <td>24081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuit.Applaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@2ef5e5e3]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/02 16:23:38</td>   <td>35112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuit.VerifyDefaultFlightType()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@2ef5e5e3]">VerifyDefaultFlightType</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/02 16:23:44</td>   <td>41513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuit.apClose()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@2ef5e5e3]">&lt;&lt;apClose</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/02 16:23:45</td>   <td>42195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuit.Applaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@2ef5e5e3]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/02 16:23:55</td>   <td>52514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuit.VerifyDepartingValueSelection()[pri:1, instance:com.mercury.test.FlightFinderRegressionSuit@2ef5e5e3]">VerifyDepartingValueSelection</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/02 16:24:02</td>   <td>60080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuit.apClose()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuit@2ef5e5e3]">&lt;&lt;apClose</td> 
<td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
</table>
